<%- include("partials/header") %>

<h1 id="shead">Search A Movie</h1>

<form action="/results" method="GET" id="sform">

    <input type="text" name="search" placeholder="Search a movie related term..."><br><br>
    <button>Submit</button>
</form>


<%- include("partials/footer") %>
